<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Hosts</th>
			<th>Groups</th>
			<th>
				<%= link_to new_inventory_path, class: 'btn btn-primary pull-right' do %>
					<i class="glyphicon glyphicon-plus"></i>
				<% end %>
			</th>
		</tr>
	</thead>
	<tbody>
		<% @inventories.each do |inventory| %>
		<tr>
			<td><%= link_to inventory.name, inventory %></td>
			<td><%= inventory.hosts.size %></td>
			<td><%= inventory.groups.size %></td>
			<td>
				<div class="btn-group pull-right">
					<%= link_to edit_inventory_path(inventory), class: 'btn btn-default' do %>
						<i class="glyphicon glyphicon-pencil"></i>
					<% end %>
					<%= link_to inventory, method: :delete, data: { confirm: 'Delete this inventory?'}, class: 'btn btn-danger' do %>
						<i class="glyphicon glyphicon-trash"></i>
					<% end %>
				</div>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>