<% if current_user %>

<% if current_user.is_admin? %>
<li>
  <%= link_to administration_path do %>
    <i class="glyphicon glyphicon-cog hidden-xs"></i>
    <p class="visible-xs">Administration</p>
  <% end %>
</li>
<% end %>

<li>
  <%= link_to signout_path do %>
    <i class="glyphicon glyphicon-log-out hidden-xs"></i>
    <p class="visible-xs">Logout</p>
  <% end %>
</li>

<li id="avatar-btn" class="hidden-xs">
  <%= link_to current_user do %>
    <%= image_tag avatar_url(current_user, 28), class: 'img-rounded' %>
  <% end %>
</li>

<% else %>

<li>
<%= link_to signin_path do %>
  <i class="glyphicon glyphicon-log-in hidden-xs"></i>
  <p class="visible-xs">Login</p>
<% end %>
</li>
<% end %>