<!DOCTYPE html>
<html>
<head>
  <title>Ansible Inventory Manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
		<%= render 'layouts/navigation' %>

		<div class="container">
			<%= render 'layouts/flash' %>
			<%= yield %>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
