<!DOCTYPE html>
<html>
<head>
  <title>Ansible Inventory Manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="wrap">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
			  	<div class="navbar-header">
			  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
			  		<%= link_to 'Inventory Manager', root_path, class: 'navbar-brand' %>
					</div>

			  	<div class="collapse navbar-collapse navbar-ex1-collapse">
			  		<ul class="nav navbar-nav navbar-left">
				   		<% if current_user %>
							<li><%= link_to 'Inventories', inventories_path %></li>
							<li><%= link_to 'Help', help_path %></li>
							<% end %>
				    </ul>

				    <ul class="nav navbar-nav navbar-right">
			   		<% if current_user %>
				   		<li>
				   			<%= link_to signout_path do %>
									<i class="glyphicon glyphicon-log-out hidden-xs"></i>
									<p class="visible-xs">Logout</p>
								<% end %>
							</li>
				   		<li id="avatar-btn" class="hidden-xs"><%= image_tag avatar_url(current_user, 28), class: 'img-rounded' %> </li>
						<% else %>
						<li>
							<%= link_to signin_path do %>
								<i class="glyphicon glyphicon-log-in hidden-xs"></i>
								<p class="visible-xs">Login</p>
							<% end %>
						</li>
						<% end %>
				    </ul>
			  	</div>
				</div>
		</nav>

		<div class="container">
			<% flash.each do |key, msg| %>
			<div class="alert alert-dismissable alert-<%= 'success' if key == :notice %><%= 'danger' if key == :alert %>">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= msg %>
			</div>
			<% end %>
			
			<%= yield %>
		</div>
	</div>

	<div id="footer">
	  <div class="container">
	    <p class="text-muted credit pull-right">&copy; 2013 by Peter Golm</p>
	  	<p class="text-muted">Version: <%= AnsibleWebInventory::Application.config.version %></p>
	  </div>
	</div>

</body>
</html>
